[*.cs]
# Use file-scoped namespaces
csharp_style_namespace_declarations = file_scoped

# Require accessibility modifiers and set default to public
dotnet_style_require_accessibility_modifiers = always:suggestion
dotnet_style_require_accessibility_modifiers = public

# Naming rules for private fields
dotnet_naming_rule.instance_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.instance_fields_should_be_camel_case.symbols = instance_fields
dotnet_naming_rule.instance_fields_should_be_camel_case.style = instance_field_style
dotnet_naming_symbols.instance_fields.applicable_kinds = field
dotnet_naming_style.instance_field_style.capitalization = camel_case
dotnet_naming_style.instance_field_style.required_prefix = _
[*]
end_of_line = lf